.content{width:100%; margin-top:80px; margin-bottom:100px;}
.subnav ul li:nth-of-type(2) a{background:white;}
.subnav ul li:nth-of-type(3) a,.subnav ul li:hover a{background:#e5e5e5;}
/*================ content start ======================*/
.content .hangye{width:960px; margin:0 auto;}
.content .hangye>h1{height:45px; margin-bottom:50px; color: #3f853f; background:url(../img/title_pic.png) no-repeat right center;
background-size:55%;}
.content .hangye>h1 span{display:inline-block; vertical-align: text-bottom;}
.content .hangye>h1 span.span1{font-size:32px; font-weight:bold;}
.content .hangye>h1 span.span2{font-size:14px; line-height:16px; 
text-transform: uppercase; font-weight:normal;}
.content .hangye .industry_list>ul li{float:left; width:448px; position:relative; margin-bottom:40px;}
.content .hangye .industry_list>ul li.mr30{margin-right:30px;}
.content .hangye .industry_list>ul li img{width:100%;}
.content .hangye .industry_list>ul li .list_download{position:absolute; width:100%; height:100%; left:0; top:0; 
background:rgba(0,0,0,.7); display:none;}
.content .hangye .industry_list>ul li .list_download img{width:208px; height:58px; margin:0 auto; display:block; margin-top:60px;}
.content .hangye .industry_list>ul li .list_download h3{font-size: 14px; line-height: 20px; color: #fff; font-weight: normal; text-align: center;
margin-top: 20px;}
.content .hangye .industry_list>ul li:hover .list_download{display:block;}

.content .hangye .pagebox{margin:20px auto;}
.content .hangye .pagebox ul{width:330px; margin:0 auto;}
.content .hangye .pagebox ul li{float:left;}
.content .hangye .pagebox ul li.prev,.content .hangye .pagebox ul li.next{width:58px; text-align:center; height:30px;
line-height:30px; border:1px solid #E5E5E5; margin:0 10px;}
.content .hangye .pagebox ul li.prev a,.content .hangye .pagebox ul li.next a{
	color:#3f853f;
	font-size:14px;
	display:block;
}
.content .hangye .pagebox ul li.page{width:32px; text-align:center; height:32px; line-height:32px; margin:0 3px;}
.content .hangye .pagebox ul li.page a{color: #3f853f;}
.content .hangye .pagebox ul li:nth-of-type(2),.content .hangye .pagebox ul li:hover{background:#3f853f;}
.content .hangye .pagebox ul li:nth-of-type(2) a,.content .hangye .pagebox ul li:hover a{color:white;}
/*================ content end ======================*/