
.subnav ul li:nth-of-type(2) a{background:white;}
.subnav ul li:nth-of-type(3) a,.subnav ul li:hover a{background:#e5e5e5;}
/*content*/
.content .conversion{width:960px; margin:0 auto;}
.content .conversion h1{height:45px; margin-bottom:50px; color: #3f853f; background:url(../img/title_pic.png) no-repeat right center;
background-size:55%;}
.content .conversion h1 span{display:inline-block; vertical-align: text-bottom;}
.content .conversion h1 span.span1{font-size:32px; font-weight:bold;}
.content .conversion h1 span.span2{font-size:14px; line-height:16px; text-transform: uppercase; font-weight:normal;}
.content .conversion p{font-size:15px; color:#999999; line-height:28px;}
.content .conversion>img{margin-top:30px; width:100%; margin-bottom:70px;}
.content .conversion .conversion_section h2{margin-bottom:15px; font-size: 40px; color: #3f853f; line-height: 50px; font-weight: bold;}
.content .conversion .conversion_section h2 span{font-weight:normal;}
.content .conversion .conversion_section .conversion_list ul li{float:left; width:293px; margin-right:40px; margin-top:50px;}
.content .conversion .conversion_section .conversion_list ul li:last-of-type{margin-right:0;}
.content .conversion .conversion_section .conversion_list ul li img{width:100%;}
.content .conversion .conversion_section .conversion_list ul li h3{font-size:20px; line-height: 30px; color: #3f853f; font-weight:bold;
margin-top:25px; margin-bottom:10px;}
