.subnav ul li:nth-of-type(2) a{background:white;}
.subnav ul li:nth-of-type(4) a,.subnav ul li:hover a{background:#e5e5e5;}
/*================ content start ======================*/
.content .buy{width:960px; margin:0 auto;}
.content .buy h1{height:45px; margin-bottom:50px; color: #3f853f; background:url(../img/title_pic.png) no-repeat right center;
background-size:55%;}
.content .buy h1 span{display:inline-block; vertical-align: text-bottom;}
.content .buy h1 span.span1{font-size:32px; font-weight:bold;}
.content .buy h1 span.span2{font-size:14px; line-height:16px; text-transform: uppercase; font-weight:normal;}
/*ways*/
.content .buy .buy_ways{margin-bottom:80px;}
.content .buy .buy_ways ul li{float:left; border-right:1px solid #CCCCCC; text-align:center; width:239px;}
.content .buy .buy_ways ul li:last-of-type{border-right:0;}
.content .buy .buy_ways ul li img{margin:0 auto; width:137px; height:137px;}
.content .buy .buy_ways ul li p{margin-top:20px; font-size:15px; line-height:30px; color:#3f853f;}
/*channel*/
.content .buy .buy_channel{}
.content .buy .buy_channel h3{font-size:16px; padding:0 30px; line-height:60px; color:#999999; background:#F0F0F0;}
.content .buy .buy_channel img{margin-top:30px; margin-bottom:50px; width:100%;}
/*================ content end ======================*/