.content .introduction{width:960px; margin:0 auto;}
.content .introduction h1{height:45px; margin-bottom:50px; color: #3f853f; background:url(../img/title_pic.png) no-repeat right center;
background-size:55%;}
.content .introduction h1 span{display:inline-block; vertical-align: text-bottom;}
.content .introduction h1 span.span1{font-size:32px; font-weight:bold;}
.content .introduction h1 span.span2{font-size:14px; line-height:16px; text-transform: uppercase; font-weight:normal;}
.content .introduction .intro_sec1{ position:relative;}
.content .introduction .intro_sec1 img{width:100%;}
.content .introduction .intro_sec1 .article{padding-top:50px; padding-left:150px; margin-bottom:50px;}
.content .introduction .intro_sec1 .article h2{font-size:40px; line-height:50px; color: #3f853f; 
margin-top:20px; margin-bottom:10px; font-weight:bold;}
.content .introduction .intro_sec1 .article p{line-height:28px; color:#999999;}
.content .introduction .intro_sec1 .sec1_img{width:480px; height:320px; position:absolute;
right:80px; top:250px; display:block;}
.content .introduction .intro_sec2 img,.content .introduction .intro_sec3 img{width:100%; margin-bottom:28px;}
.content .introduction .intro_sec2 p,.content .introduction .intro_sec3 p,
.content .introduction .intro_sec4 .left p,.content .introduction .intro_sec4 .right p{
	line-height:28px; color:#999999; font-size:15px; margin-bottom:28px;
}
.content .introduction .intro_sec4 .left,.content .introduction .intro_sec4 .right{float:left; width:460px;}
.content .introduction .intro_sec4 .left{margin-right:39px;}
.content .introduction .intro_sec4 .left img,.content .introduction .intro_sec4 .right img{width:100%; margin-bottom:30px;}
.content .introduction .intro_sec4 .left p,.content .introduction .intro_sec4 .right p{margin-bottom:0;}
